.DS_Store
.env
.idea
composer.phar
composer.lock
Thumbs.db
/storage
/node_modules
/vendor
/app/Modules/Campus
/app/Modules/Gakko
/app/Modules/Jinji
/app/Modules/Shisan
/public/images/logos
/public/images/products
/public/images/users