.DS_Store
.env
.idea
composer.phar
composer.lock
Thumbs.db
/storage
/node_modules
/vendor
/app/Modules/Campus
/app/Modules/Campus/*
/app/Modules/Gakko
/app/Modules/Gakko/*
/app/Modules/Jinji
/app/Modules/Jinji/*
/app/Modules/Shisan
/app/Modules/Shisan/*
