html,
body {
	font-family: 'Open Sans', sans-serif;
	padding-top: 50px;
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by its height */
	margin: 0 auto -60px;
	/* Pad bottom by footer height */
	padding: 0 30px 60px;
}

/* Set the fixed height of the footer here */
#footer {
	height: 60px;
	background-color: #f5f5f5;
}

/*
#wrap > .container {
	padding: 30px 15px 0;
}
*/

.container .credit {
	margin: 20px 0;
}

#footer > .container {
	padding-left: 15px;
	padding-right: 15px;
}

.fa,
.fa > a,
.fa > li {
	margin-right: 5px;
}

/* img
-------------------------------------------------- */
.img-circle {
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	border-radius: 500px;
}

img.show-profile {
	width: 35px;
	height: 35px;
	margin-top: 8px;
}

img.profile {
	width: 250px;
	height: 250px;
	margin-top: 5px;
}

.margin-top{
	margin-top:10px !important;
}
.margin-bottom-sm {
	margin-bottom: 10px;
}

.alert {
	margin-top: 20px;
}

/* ------------------------------------------------------------- login page centered flip box -------------------------------------------------------------------------- */

.flipLink {
	margin-bottom: 20px;
}

.centered {
	width: 100%;
	margin: auto;
	position: absolute;
	top: 30%; left: 50%;
	-webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}

.panelBox .front,
.panelBox .back {
	width: 90%;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.panelBox .front {
	height: inherit;
	position: absolute;
	z-index: 900;
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	   -moz-transform: rotateX(0deg) rotateY(0deg);
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}

.panelBox .back {
	height: inherit;
	position: absolute;
	z-index: 1000;
	-webkit-transform: rotateY(-180deg);
	   -moz-transform: rotateY(-180deg);
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}
.panelBox.flip .front {
	z-index: 900;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}
.panelBox.flip .back {
	z-index: 1000;
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	-moz-transform: rotateX(0deg) rotateY(0deg);
}


.backcolor {
	background: #202732;
	background: -webkit-linear-gradient(left top, #3d495d,#202732);
	background: -moz-linear-gradient(left top, #3d495d,#202732);
	background: -o-linear-gradient(left top, #3d495d,#202732);
	background: -ms-linear-gradient(left top, #3d495d,#202732);
	background: linear-gradient(left top, #3d495d,#202732);
}
